<!doctype html>
<html>

<head>
    <meta http-equiv="Content-type" content="txt/html; charset=UTF-8" />
    <title>Strona z formularzem</title>
</head>

<body>
    <h1>Wiadomości</h1>
    <ul class="wiadomosci">
        <% for(var i=0; i < wiadomosci.length; i++) {%> <li class="wiadomosc">
            <span>
                <%= wiadomosci[i].imie %>
            </span>
            <span>
                <%= wiadomosci[i].nazwisko %> </span><br />
            <span>
                <%= wiadomosci[i].wiadomosc %>
            </span>
        </li>
        <% } %> </ul>
    </ul>
    <form action="/wiadomosci" method="POST"> <input type="text" placeholder="twoje imię" name="imie"><br />
        <input type="text" placeholder="twoje nazwisko:" name="nazwisko"><br />
        <input type="text" placeholder="wiadomość:" name="wiadomosc"><br />
        <button type="submit">Wyślij</button>
    </form>
</body>

</html>